<?xml version="1.0" ?>

<launch>
	<arg name="file_path" default="data/traektory2.csv" />

	<node pkg="moveit_collision_inspector" type="inspector" name="inspector" output="screen">
		<param name="file_path" type="str" value="$(arg file_path)"/>
		<rosparam command="load" file="$(find moveit_collision_inspector)/config/jnames.yaml"/>
	</node>
</launch>
